.popup__input-error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  line-height: 15px;
  margin: 5px 0 0 0;
  white-space: break-spaces;
  display: block;
}

@media screen and (max-width: 700px) {
    .popup__input-error {
      width: 238px;
    }
}
