.popup__save-button {
  min-width: 358px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 36px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .2s;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
    .popup__save-button {
      min-width: 238px;
      min-height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 7px;
    }
}
