.popup__input {
  min-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(0,0,0,.2);
  padding-bottom: 8px;
}

@media screen and (max-width: 700px) {
    .popup__input {
      min-width: 238px;
    }
}
