.popup__close-button {
  min-height: 32px;
  min-width: 32px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .2s;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
    .popup__close-button {
      min-height: 20px;
      min-width: 20px;
      top: -36px;
      right: 0;
    }
}
