.card__like-button {
  background-image: url(../../../images/Vector\ \(Stroke\).svg);
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  margin: 30px 20px 30px 15px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity .2s;
}

.card__like-button:hover {
  opacity: .5;
}
