.elements {
  max-width: 886px;
  margin: 0 auto 68px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
    .elements {
      max-width: 581px;
    }
}

@media screen and (max-width: 619px) {
    .elements {
      max-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
      margin-bottom: 50px;
      margin-left: 19px;
      margin-right: 19px;
    }
}
