.profile__title {
  width: 294px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 23px 19px 7px 0;
}

@media screen and (max-width: 1024px) {
    .profile__title {
      max-width: 189px;
      font-size: 27px;
      line-height: 33px;
    }
}

@media screen and (max-width: 619px) {
  .profile__title {
    text-align: center;
  }
}

@media screen and (max-width: 384px) {
    .profile__title {
      margin: 20px 15px 8px 25px;
    }
}
