.profile__add-button {
  background-image: url(../../../images/AddButton.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 150px;
  min-height: 50px;
  border: 1px solid #FFFFFF;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 619px) {
    .profile__add-button {
      background-image: url(../../../images/AddButtonBIG.svg);
      min-width: 282px;
    }
}
