.header {
  margin: 45px auto 0 auto;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(84,84,84,.7);
}

@media screen and (max-width: 1024px) {
    .header {
      max-width: 581px;
    }
}

@media screen and (max-width: 619px) {
    .header {
      margin: 28px 0 0 0;
      padding-left: 27px;
    }
}
