.card__like-button_active {
  background-image: url(../../../images/Vector\ \(Stroke\).png);
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  margin: 30px 20px 30px 0;
  padding: 0;
  border: none;
  background-color: #000000;
  cursor: pointer;
}
